@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: 'EditorialNew';
    src: url('./fonts/EditorialNew-Regural.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} */

@layer components {
    .items {
        @apply py-6 relative;
    }
    .main-btn {
        @apply px-4 py-2 bg-mainB text-black border-2 border-black;
    }
    li a {
        @apply block hover:font-bold hover:underline text-left transition-all;
    }
}

@layer base {
    /* .out {
      -webkit-text-stroke: 1px white;
    } */
}